.productList{
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-evenly;
    margin:50px 0;

    flex-wrap: wrap;
    gap: 20px;
}

.productTitle{
    margin-left: 20px;
}