#left{
    width: 30vw;
    margin-left: 10px;
    position: sticky;
    height: 100%;
    top: 10px;
}

#left h3{
    font-weight: 450;
}

.PrdouctCat{
    display: flex;
    flex-direction: column;
}

.sortby{
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.inputBox{
    display: flex;
    align-items: center;
}

.inputBox input{
    width: 18px;
    height: 20px;
}

.filter input{
    width: 100px;
}

.banner{
    width: 68vw;
    height: 280px;
    position: relative;
    overflow: hidden;

}

.banner img{
    width: 100%;
    object-fit: cover;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.catContainer{
    display: flex;


}

.right{

}

#maxPrice{
    display: block;
    margin: 10px;
    margin-left: 0;
    padding: 6px;
    border-radius: 5px;
    border: 2px solid black;
    /* outline: none; */
    background-color: blue;
    color: white;
    cursor: pointer;
    font-size: 15px;

}


@media only screen and (max-width: 450px) {
    .filter h3{
        font-size: 19px;
    }


    .filter input{
        width: 100px;

    }

    .banner{
        height: 150px;
        
    }

    .radioInput{
        height: 50px;
    }

    .sortby div{
        margin-left: 0;
        margin-bottom: 20px;
    }

    .sortby div input{
        margin: 0;
        padding: 0;
        width: 25px;
        
    }
   
    .inputBox label{
        font-size: 13px;
    }
}
